/* CSS declarations go here */
.center {
    text-align: center;
    margin-top: 20px;
}

.align {
    vertical-align: top;
}

body {
    background-image: url(../assets/nito.jpg);
    color: white;
}
